<p>
  {{town.name}} : {{town.icon}} 
</p>
<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title></mat-card-title>
    <mat-card-subtitle></mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
   <i class="wi wi-day-sunny"></i>
       {{town.temperature}}°F

    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>
<h2>{{ town.name | uppercase }} Details</h2>
<div><span>id: </span>{{town.id}}</div>
<div><span>name: </span>{{town.name}}</div>
<div>
    <label>name:
      <input [(ngModel)]="town.name" placeholder="name">
    </label>
</div>
